# Dependency directories
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment and config files
.env
.env.*
.env.local
.env.development
.env.test
.env.production

# Version control
.git/
.gitignore
.github/

# Build and test files
dist/
coverage/
.nyc_output/
*.test.js
*.spec.js
test/
__tests__/

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*.swn
.DS_Store
Thumbs.db

# Project specific
README.md
CHANGELOG.md
LICENSE
docs/
.cursor/

# Docker files
docker-compose*

PORT=8014
CORS_ORIGIN=''

DB_HOST=10.0.30.11
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=9LWqRApP9rrSs2cAjbMPxBGsbSDHudGG
DB_DATABASE=test_dev
DB_DEBUG=0
DB_SYNC=1

REDIS_HOST=10.0.30.11
REDIS_PORT=6379
REDIS_DATABASE=1
REDIS_PASSWORD=
REDIS_URL=redis://10.0.30.11:6379/1
REDIS_FAMILY=0

IS_WORKER=1
IS_API=1
JWT_SECRET_KEY=


