PORT=8014
CORS_ORIGIN=''

DB_HOST=10.0.30.11
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=9LWqRApP9rrSs2cAjbMPxBGsbSDHudGG
DB_DATABASE=test_dev
DB_DEBUG=0
DB_SYNC=1

REDIS_HOST=10.0.30.11
REDIS_PORT=6379
REDIS_DATABASE=1
REDIS_PASSWORD=
REDIS_URL=redis://10.0.30.11:6379/1
REDIS_FAMILY=0

RABBITMQ_URL=amqp://blind_box:Vt4uHfaTS53xBWZ7SanqB2EDwPfyBf6R@10.0.30.11:5672/blind_box_reward

IS_WORKER=1
IS_API=1
JWT_SECRET_KEY=


